html {
    height: 100%;
    
}

body {
    height: 100%;
    background: black;
}
.a {
    text-decoration: none;
}

.navbar{
    display:flex;
    justify-content:space-around;
    background-color:white;
}

a:alink{
    color:red;
}

h1{
    color:red;
    display:flex;
    justify-content:center;
}

.main {
    height: 100%;
    background:url("https://scontent-lga3-1.cdninstagram.com/vp/85ab22e6e812c1c9fa5450900b0e2ca4/5C7B6FDD/t51.2885-15/e35/43914077_486974245119630_4794010652504544547_n.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.social{
    display:flex;
    justify-content:space-around;
}

.gallery{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin: 10px;
//    padding: ; //
    
}
.thumbnail-image{
    width:200px;
    
}