html {
    height: 100%;
    
}

body {
    height: 100%;
    background:black;
}
.a {
    text-decoration:none;
}

.navbar{
    display:flex;
    justify-content:space-around;
    padding:10px; 
    background-color:white;
}


.nav{
    color:red;
    font-size:20px;
}

h1{
    ///////// font-family: "Lobster";
    color:red;
    display:flex;
    justify-content:center;
}

.main {
    height: 100%;
    background:url("https://scontent-lga3-1.cdninstagram.com/vp/85ab22e6e812c1c9fa5450900b0e2ca4/5C7B6FDD/t51.2885-15/e35/43914077_486974245119630_4794010652504544547_n.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.social-image{
    width: 30px;
    margin: 15px;
}
.social{
    display:flex;
    justify-content:space-around;
}

.gallery{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.thumbnail{
    width:200px;
    height:250px;
    margin:100px;
    border:10px solid red;
}

.thumbnail-image{
    height:100%;
    width: 100%;
}

h2,h3,h4{
    font-size:45px;
    color:red;
}

p{
    font-size:20px;
    color:white;
}

.aboutMain{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.leftPane{
    width:50%;
}

.rightPane{
    background-image: url(https://scontent-lga3-1.cdninstagram.com/vp/f5ac847430d0a222b85eb387f432ba2f/5C49EC70/t51.2885-15/e35/42376305_569165956876693_5681711535544980978_n.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 525px;
}














